dummy_2/src/main/mule/dummy_2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="4ac5932e-5285-48e9-8e32-435e51a1c5a7" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<flow name="dummy_2Flow" doc:id="971146d2-ff59-4614-b06e-e05e646607d5" >
		<http:listener doc:name="Listener" doc:id="6a01aefc-d081-4921-b1a7-295dd7070ec6" config-ref="HTTP_Listener_config1" path="/dummy2"/>
		<set-payload value='#["great!!!"]' doc:name="Set Payload" doc:id="490e7778-13d5-41ef-bd1b-1e9ff65eb753" />
	</flow>
</mule>
